<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/bootstrap.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/index.css'>
</head>
<body>
  <div class="container-fluid" id='container-fluid'>
    <div class="row">
      <!-- Barra de Navegação -->
      <nav class="navbar navbar-expand-sm py-5">
        <div class="navbar-collapse">
          <ul class="navbar-nav"> 
            <li class="nav-item">
              <a class="nav-link fonte-principal" href="#" id="nav-sobre"> <b>Sobre</b> </a>
            </li>
            <li class="nav-item">
              <span class="barra-lateral fonte-principal"> </span>
            </li>
            <li class="nav-item">
              <a class="nav-link fonte-principal" href="#" id="nav-mural">  <b>Mural</b> </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="conteudo" >
      <!-- Logo e botoes -->
      <div class="logo" id='logo-botoes'>
        &ltin&gtvisivel
      </div>
      <div class="botoes-itens" id='logo-botoes'>     
        <div class="botao">
          <input type="button" value="Entrar">
        </div>
        <div class="botao">
          <input type="button" value="Criar uma conta">
        </div>
      </div>
    
    </div>

  </div>

  <!-- Teste do backgroud -->
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> AAAAAAAAAAAAAA -->

  <script>
    var alturaDiv = document.getElementById('container-fluid').offsetHeight;
    var alturaPagina = window.screen.height;

    if(alturaDiv > alturaPagina){
      document.getElementById('container-fluid').style.height = "100%";
    }else{
      document.getElementById('container-fluid').style.height = "100vh";
    }    
  </script>
  <script src='javascripts/jquery.js'></script>
  <script src='javascripts/bootstrap.js'></script>
</body>
</html>