<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/maps.css'>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key='></script>
    <script type="text/javascript" src='javascripts/maps.js'></script>
</head>
<body onload="initialize()">
    <nav class="navbar navbar-expand-sm">
        <div class="navbar-collapse">
          <ul class="navbar-nav"> 
            <li class="nav-item">
              <a class="nav-link fonte-principal" href="#" id="nav-sobre"> <b>Sobre</b> </a>
            </li>
            <li class="nav-item">
              <span class="barra-lateral fonte-principal"> </span>
            </li>
            <li class="nav-item">
              <a class="nav-link fonte-principal" href="#" id="nav-mural">  <b>Mural</b> </a>
            </li>
          </ul>
        </div>
      </nav>
    <div id="map_canvas"></div>
</body>
</html>
