@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans&display=swap');

html { 
    height: 100%;
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}
#nav-bonequinho {
  width: 2rem;
  height: 2rem;
}
#nav-bonequinho:hover{
  filter:  sepia(130%) saturate(3207%) hue-rotate(159deg) brightness(50%) contrast(800%);
}

#logo{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;

  }
.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color:white;
}
#apoie{
  background-color: white;
  color: #000;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#apoie:hover{
  background-color: #5D8CBA ;
  color: rgba(18,13,30,1);
  transition: background-color 0.3s;

}
#perfil:focus{
  background-color: #5D8CBA;
}

#menu-botoes{
  padding-right: 30px;
  padding-left: 30px;
  
}

#menu-botoes:hover{
  color: rgba(255,255,255,0.7);
  transition: background-color 0.3s;
  
}

nav{
    background: linear-gradient(100deg, rgba(18,13,30,1) 0%, rgb(16, 24, 32) 50%);
       
}


.barra-lateral{
  border-right: 0.1px solid rgba(255,255,255,0.7);
  font-size: 2rem;
  
}


@media(max-width: 991px) {
  .barra-lateral{
    display: none;
  }
  
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  
}
.navbar-brand{
  margin: 0px;
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
}
